<!-- On hérite du template de base -->
{% extends "base.html" %}

<!-- On ajoute notre propre contenu -->
{% block contenu %}
<h1>Vos tâches 📚</h1>
<br>
<!-- Table pour afficher les tâches-->
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Tâche</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Etat</th>
        <th scope="col">Priorité</th>
        <th scope="col">Temps restant</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
    </tr>
    </thead>
    <tbody>
    {% for tache in results %}
    <tr>
        <th scope="row">{{ results.index(tache) + 1 }}</th>
        <td>{{ tache[0] }}</td>
        <td>{{ tache[1] }}</td>
        <td>{{ tache[2] }}</td>
        <td>{{ tache[3] }}</td>
        <td>Il vous reste {{ tache[6]+1 }} jour(s)<br> {{ tache[4] }}</td>
        <td>
            <form action="/ouvrir_modfier" method="POST">
                <button
                        type="submit" class="btn btn-outline-warning" name="tache" value="{{ tache }}">🛠️
                </button>
            </form>
        </td>
        <td>
            <form action="/supprimer" method="POST">
                <button type="submit" class="btn btn-outline-danger" name="idTache" value="{{ tache[-1] }}">❌</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div>
    <h5>Filtrer et trier
        <button class="btn btn_light btn-lg" id="buttonFiltrer" onclick="unhideFiltrer()">→</button>
    </h5>
    <form action="/" method="POST">
        <button
            type="submit" class="btn btn-outline-success">Réinitialiser les filtres</button>
    </form>
</div>
<div id="divFiltrer">
    <form action="/tri" method="POST">
        <label for="categorie_tri">Catégorie</label>
        <select name="categorie" id="categorie_tri">
            <option value="0" selected>Toutes catégories</option>
            <option value="2">Travail</option>
            <option value="1">Maison</option>
        </select>
        <label for="etat_tri">État</label>
        <select name="etat" id="etat_tri" onchange="chooseArchivee()">
            <option value="0" selected>Tous les états</option>
            <option value="2">En cours</option>
            <option value="1">Terminée</option>
        </select>
        <label for="priorite_tri">Priorité</label>
        <select name="priorite" id="priorite_tri">
            <option value="0,0" selected>Toutes les priorités</option>
            <option value="2,3">Basse</option>
            <option value="1,3">Moyenne</option>
            <option value="1,2">Haute</option>
        </select>
        <label for="archivee">Afficher les tâches archivées</label>
        <input type="checkbox" id="archivee" name="archivee" value="0" checked>
        <label for="sorted">Trier par temps restant:</label>
        <input type="checkbox" id="sorted" name="sorted" value="1">
        <br>
        <button type="submit" class="btn btn-primary btn-sm">Confirmer et trier</button>
    </form>
</div>
<br>
<!-- Bouton pour déclencher l'action -->
<h5>Ajouter une tache
    <button class="btn btn_light btn-lg" id="buttonAjouter" onclick="unhideAjouter()">→</button>
</h5>
<br>
<div id="divAjouter">
    <form action="/ajouter" method="POST">
        <label for="titre">Titre:</label>
        <input type="text" id="titre" name="name" size="14"/>
        <label for="categorie">Catégorie:</label>
        <select name="categorie" id="categorie">
            <option value="1">Travail</option>
            <option value="2">Maison</option>
        </select>
        <label for="priorite">Priorité:</label>
        <select name="priorite" id="priorite">
            <option value="1">Basse</option>
            <option value="2">Moyenne</option>
            <option value="3">Haute</option>
        </select>
        <label for="date">Fin de la tâche:</label>
        <input type="date" name="date_echeance" id="date"/>
        <br>
        <!--Submit des données-->
        <button type="submit" class="btn btn-primary btn-sm">Nouvelle Tâche</button>
    </form>
</div>
<br>
<script>
    function chooseArchivee() {
        const checkbox = document.getElementById("archivee")
        const select = document.getElementById("etat_tri")
        checkbox.checked = (select.textContent === "Tous les états")
    }
    function unhideFiltrer() {
        const button = document.getElementById("buttonFiltrer")
        const div = document.getElementById("divFiltrer")
        if (div.hidden) {
            div.removeAttribute('hidden')
        } else {
            div.setAttribute('hidden', '')
        }
        if (button.textContent === "→") {
            button.textContent = "↓"
        } else {
            button.textContent = "→"
        }
    }

    function unhideAjouter() {
        const button = document.getElementById("buttonAjouter")
        const div = document.getElementById("divAjouter")
        if (div.hidden) {
            div.removeAttribute('hidden')
        } else {
            div.setAttribute('hidden', '')
        }
        if (button.textContent === "→") {
            button.textContent = "↓"
        } else {
            button.textContent = "→"
        }
    }

    let div = document.getElementById("divFiltrer");
    div.setAttribute('hidden', 'true');

    div = document.getElementById("divAjouter");
    div.setAttribute('hidden', 'true');
</script>
{% endblock %}
