<!-- On hérite du template de base -->
{% extends "base.html" %}

<!-- On ajoute notre propre contenu -->
{% block contenu %}
    <h1>Vos tâches 📚</h1>
    <br>
    <!-- Bouton pour déclencher l'action -->
    <form action="/ajouter" method="POST">
      <button type="submit" class="btn btn-primary btn-sm">Nouvelle Tâche</button>
    </form>
    <br>
    <!-- Table pour afficher les tâches-->
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tâches</th>
        <th scope="col">Catégories</th>
        <th scope="col">Etat</th>
        <th scope="col">Temps restant</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody>
    {% for tache in results %}
    <tr>
      <th scope="row">{{ results.index(tache) + 1 }}</th>
      <td>{{ tache[0] }}</td>
      <td>{{ tache[1] }}</td>
      <td>{{ tache[2] }}</td>
      <td>{{ tache[4] }}</td>
      <td></td>
      <td>
      <form action="/supprimer" method="POST">
        <button type="submit" name="idTache" value="{{ tache[-1] }}">❌</button>
      </form></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
