<!-- On hérite du template de base -->
{% extends "base.html" %}

<!-- On ajoute notre propre contenu -->
{% block contenu %}
    <h1>Vos tâches 📚</h1>
    <br>
    <!-- Bouton pour déclencher l'action -->
    <form action="/ajouter" method="POST">
      <label>Titre:</label>
      <input type="text" name="name" size="14"/>
      <label>Catégorie:</label>
      <select name="categorie">
        <option value="1">Travail</option>
        <option value="2">Maison</option>
      </select>  
      <label>Priorité:</label>
      <select name="priorite">
        <option value="1">Basse</option>
        <option value="2">Moyenne</option>
        <option value="3">Haute</option>
      </select>  
      <label>Fin de la tâche:</label>
      <input type="date" name="date_echeance"/>
      <!--Submit des données-->
      <button type="submit" class="btn btn-primary btn-sm">Nouvelle Tâche</button>
    </form>
    <br>
    <!-- Table pour afficher les tâches-->
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tâches</th>
        <th scope="col">Catégories</th>
        <th scope="col">Etat</th>
        <th scope="col">Temps restant</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody>
    {% for tache in results %}
    <tr>
      <th scope="row">{{ results.index(tache) + 1 }}</th>
      <td>{{ tache[0] }}</td>
      <td>{{ tache[1] }}</td>
      <td>{{ tache[2] }}</td>
      <td>{{ tache[4] }}</td>
      <td></td>
      <td>
      <form action="/supprimer" method="POST">
        <button type="submit" class="btn btn-outline-danger" name="idTache" value="{{ tache[-1] }}">❌</button>
      </form></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
