<!-- On hérite du template de base -->
{% extends "base.html" %}

<!-- On ajoute notre propre contenu -->
{% block contenu %}
    <h1>Modifier la tâche</h1>
    <p>Modifiez votre <strong>tâche</strong> en remplissant les champs ci-dessous</p>
    <form action="/modifier" method="POST">
        <label for="titre">Titre:</label><br>
        <input type="text" id="titre" value="{{ tache[0] }}" name="name"/><br>
        <label for="selection_categorie">Catégorie:</label><br>
        <select name="categorie" id="selection_categorie">
            <option value="1" id="travail">Travail</option>
            <option value="2" id="maison">Maison</option>
        </select>
        <br>
        <label for="etat">Etat:</label><br>
        <select name="etat" id="etat" onchange="testDisable()">
            <option value="1">En cours</option>
            <option value="2">Terminée</option>
            <option value="3">Archivée</option>
        </select>
        <br>
        <label for="priorite">Priorité:</label><br>
        <select name="priorite" id="priorite">
            <option value="1">Basse</option>
            <option value="2">Moyenne</option>
            <option value="3">Haute</option>
        </select>
        <br>
        <label for="date_echeance">Echeance de la tâche:</label><br>
        <input type="date" name="date_echeance" id="date_echeance"/><br>
        <label for="date_fin">Date de fin de tache:</label><br>
        <input type="date" name="date_fin" id="date_fin" onchange="testDisable()"><br>
        <!--Submit des données-->
        <button type="submit" id="submit" class="btn btn-primary btn-sm" name="tache" value="{{tache}}">Confirmer la modification</button>
    </form>
    <script src="my_script.js"></script>
{% endblock %}